body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
}

#download {
    text-align: left;
}

#github {
	text-align: left;
}

.github-button {
background: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.github-button:hover {
    background: #218838;
}

.download-button {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background: #218838;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}